
<li><%= answer.text %>
  <span class="best-answer">
    <% if @question.best_answer_id == answer.id %>
      ** voted best answer **
    <% end %>
  </span>
  <% if current_user == answer.question.creator %>
   <form action="/answers/<%= answer.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="best answer">
  </form>
  <% end %>
  <!-- vote on each answer
 -->
 <!-- votes for answers -->
  <span class="badge badge-pill badge-info">Votes <%= answer.total_votes %></span>
  <% if logged_in? %>
    <form action="/answers/<%= answer.id %>/votes" method="post">
      <button class="btn btn-outline-primary btn-sm" type="submit" name="upvote" value="upvote">Upvote</button>
    </form>

    <form action="/answers/<%= answer.id %>/votes" method="post">
     <button class="btn btn-outline-danger btn-sm" type="submit" name="downvote" value="downvote">Downvote</button>
    </form>
  <% end %>


  <!-- list comments on answers -->
  <h5>Answer Comments</h5>
  <ul>
    <% answer.comments.each do |comment| %>
      <li><%= comment.commentor.name %> commented: <%= comment.text %>
      <span class="badge badge-pill badge-info">Votes <%= comment.total_votes %></span>
      <% if logged_in? %>
        <form action='/answers/<%= answer.id %>/comments/<%= comment.id %>/votes' method="post">
          <button class="btn btn-sm btn-outline-primary" type="submit" name="upvote" value="upvote">Upvote</button>
        </form>
        <form action='/answers/<%= answer.id %>/comments/<%= comment.id %>/votes' method="post">
         <button class="btn btn-sm btn-outline-danger" type="submit" name="downvote" value="downvote">Downvote</button>
        </form>
        <% end %>
  </li>
    <% end %>
  </ul>
</li>
<!-- post comments on  answers -->
<% if logged_in? %>
  <form method="post" action="/questions/<%= @question.id %>/answers/<%= answer.id %>/comments">
    <textarea name="text" cols="50" rows="5" placeholder="Enter your comment on the answer..."></textarea>
    <input type="submit" value="comment on answer">
  </form><br>
<% end %>

