<li><%= answer.text %>
  <span class="best-answer">
    <% if @question.best_answer_id == answer.id %>
      ** voted best answer **
    <% end %>
  </span>
  <% if current_user == answer.question.creator %>
   <form action="/answers/<%= answer.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="best answer">
  </form>
  <% end %>
  <!-- vote on each answer
 -->
 <!-- votes for answers -->
  <% if logged_in? %>
    <form action="/answers/<%= answer.id %>/votes" method="post">
      <input type="submit" name="upvote" value="upvote">
    </form>
    <form action="/answers/<%= answer.id %>/votes" method="post">
     <input type="submit" name="downvote" value="downvote">
    </form>
  <% end %>


  <!-- list comments on answers -->
  <h5>Answer Comments</h5>
  <ul>
    <% answer.comments.each do |comment| %>
      <li><%= comment.commentor.name %> commented: <%= comment.text %>
      <% if logged_in? %>
        <form action='/answers/<%= answer.id %>/comments/<%= comment.id %>/votes' method="post">
          <input type="submit" name="upvote" value="upvote">
        </form>
        <form action='/answers/<%= answer.id %>/comments/<%= comment.id %>/votes' method="post">
         <input type="submit" name="downvote" value="downvote">
        </form>
  <% end %></li>
    <% end %>
  </ul>
</li>






