<div class="jumbotron">
  <h1 class="display-3"><%= @question.title %></h1>
  <p class="lead"><%= @question.text %></p>
  <p >Asked by: <%= @question.creator.name %></p>
  <span class="badge badge-pill badge-info">Votes <%= @question.total_votes %></span>
  <% if logged_in? %>
    <%= erb :'/questions/_vote_on_question', locals: {question: @question}, layout: false %>
    <hr class="my-4">
    <p class="lead">
    <div id="new_answer_forms">
      <%= erb :'/answers/_new_form_button', layout: false %>
    </div>
    <div id="new_question_comment_forms">
      <a class="btn btn-primary btn-lg" href="/questions/<%= @question.id %>/comments/new" id="show_question_comments_button" role="button">Comment on Question</a>
    </div>
    <% else  %>
      <p>You must sign in or register to answer, comment, or vote on a question.</p>
    <% end %>
  </p>
</div>

