<%= erb :'questions/_show_info', locals: {question: @question}, layout: false %>

<!-- comments on question -->
<h3>Question Comments</h3>
<ul>
  <% @question.comments.each do |comment| %>
    <li><%= comment.text  %></li>
    <%= erb :'/votes/_question_comments', locals: { question: @question, comment: comment }, layout: false %>
  <% end %>
</ul>

<!-- votes for answers -->
<% if logged_in? && @answer %>
  <form action="/answers/<%= @answer.id %>/votes" method="post">
    <input type="submit" name="upvote" value="upvote">
  </form>

  <form action="/answers/<%= @answer.id %>/votes" method="post">
    <input type="submit" name="upvote" value="upvote">
  </form>
<% end %>




<ul id="answers-list">
  <% @question.answers.each do |answer| %>
    <%= erb :'questions/_answers', locals: {question: @question, answer: answer} %>
  <% end %>
</ul>


