<%= erb :'questions/_show_info', locals: {question: @question}, layout: false %>

<!-- comments on question -->
<h3>Question Comments</h3>
<ul>
  <% @question.comments.each do |comment| %>
    <li><%= comment.text  %></li>
  <% end %>
</ul>

<!-- votes for answers -->
<% if logged_in? && @answer %>
  <form action="/answers/<%= @answer.id %>/votes" method="post">
    <input type="submit" name="upvote" value="upvote">
  </form>

  <form action="/answers/<%= @answer.id %>/votes" method="post">
    <input type="submit" name="upvote" value="upvote">
  </form>
<% end %>




<ul>
  <% @question.answers.each do |answer| %>
    <%= erb :'questions/_answers', locals: {question: @question, answer: answer} %>
  <% end %>
</ul>

<form id="add-answer-form" action="/answers" method="post">
 <input type="hidden" name="question_id" value="<%= @question.id %>">
  <textarea name="text" cols="50" rows="5" placeholder=" Enter your Answer..."></textarea>
  <input type="submit" value="answer">
</form>
