
<h1>Title: <%= @question.title %></h1>
<h3>Question: <%= @question.text %>
<h4>Asked by: <%= @question.creator.name %></h4>

 <% if logged_in? %>
  <form action="/questions/<%= @question.id %>/votes" method="post">
    <input type="submit" name="upvote" value="upvote">
  </form>

  <form action="/questions/<%= @question.id %>/votes" method="post">
    <input type="submit" name="downvote" value="downvote">
</form>
<% end %>



<!-- votes for answers -->
<% if logged_in? %>
  <form action="/answers/<%= @answer.id %>/votes" method="post">
    <input type="submit" name="upvote" value="upvote">
  </form>

  <form action="/answers/<%= @answer.id %>/votes" method="post">
    <input type="submit" name="upvote" value="upvote">
  </form>
<% end %>



